/* ------------------------------------------------------------ *\
 * LAYOUTS
\* ------------------------------------------------------------ */

/**
 * FORMS
 */

/* Form Box */
.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

/* Label */
.form-box .form-label {
  color: var(--text-color) !important;
  font-size: var(--fs-h6) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-h6) !important;
}

/* Input */
.form-box .input-wrapper {
  position: relative;
  --state-layer-bg: var(--second-color);
}

.form-box .input-wrapper .form-control {
  border: 1px solid var(--border-color) !important;
  background-color: var(--bg-color) !important;
  border-radius: var(--rounded-4) !important;
  color: var(--text-color) !important;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
  padding-inline: 14px !important;
  min-height: 40px;
  max-height: 40px;
}

/* Input Group */

/* Range */

/* Textarea */

/* Select */
.form-box .input-wrapper .absolute {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: var(--third-color) !important;
  pointer-events: none;
}

html[dir="ltr"] .form-box .input-wrapper .absolute { 
  right: 14px;
  left: auto; 
}

/* Checks & Radios */

/* Validation */
.form-box .validation {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
  margin-block-start: -5px;
  color: rgba(255, 0, 0, 0.862) !important;
}

/**
 * COMPONENTS
 */

/* Logo */
.logo .img-logo {
  min-width: max-content;
  max-width: max-content;
  min-height: 45px;
  max-height: 45px;
}

/* Icon button */
.icon-btn {
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: 14px;
  --state-layer-bg: var(--text-color);
}

.icon-btn.large {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.icon-btn.large svg {
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
}

/* Accordion */

/* Avatars */

/* Alerts */

/* Badge */

/* Breadcrumb */

/* Buttons */
.btn {
  border: 2px solid transparent !important;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  border-radius: var(--rounded-4);
  color: white !important;
  padding-inline: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-wrap: nowrap;
  transition: all 0.4s;
}

.btn.large {
  min-height: 40px;
  max-height: 40px;
}

.btn.btn-blue-dark {
  background-color: var(--blue-dark-color) !important;
  --state-layer-bg: var(--bg-color);
}

.btn.btn-blue {
  background-color: var(--blue-color) !important;
  --state-layer-bg: black;
}

.btn.btn-light {
  border-color: white !important;
  background-color: transparent !important;
  --state-layer-bg: black;
}

.btn.btn-yellow-green {
  background-color: var(--green-yellow-color) !important;
  color: black !important;
  --state-layer-bg: var(--text-color);
}

.btn-light-dark {
  border-color: black !important;
  color: black !important;
  --state-layer-bg: var(--text-color);
}

[data-theme="dark"] .btn-light-dark {
  border-color: white !important;
  color: white !important;
  --state-layer-bg: var(--text-color);
}

/* Button group */

/* Card */
.card-programs {
  position: relative;
  background-color: var(--second-bg-color) !important;
  color: white !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 393px;
  max-height: 393px;
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 10px;
  padding: 24px;
  transition: all 0.4s;
}

.card-programs:hover { transform: translateY(-16px); }

.card-programs::before {
  content: "";
  background: linear-gradient(to top, rgba(0,0,0,1), transparent);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 393px;
}

.card-programs .card-body {
  position: relative;
  z-index: 12;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-programs .link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.card-block {
  border: 1.8px solid var(--border-color) !important;
  background-color: var(--white-color) !important;
  border-radius: var(--rounded-8);
  overflow: hidden;
  display: grid;
  grid-template-rows: 250px max-content;
  height: 100%;
  --state-layer-bg: var(--text-color);
}

[data-theme="dark"] .card-block { background-color: #1e2536 !important; }

.card-block .card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card-inline {
  border: 1.8px solid var(--border-color) !important;
  background-color: var(--white-color) !important;
  border-radius: var(--rounded-8);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 207px max-content;
  padding: 16px;
  --state-layer-bg: var(--text-color);
}

[data-theme="dark"] .card-inline { background-color: #1e2536 !important; }

.card-inline .img-card { 
  border-radius: var(--rounded-10);
  min-height: 180px; 
  max-height: 180px; 
}

.card-inline .card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.card-statistics .circle {
  background-color: var(--soft-green-color) !important;
  border-radius: var(--rounded-full);
  min-width: 56px;
  max-width: 56px;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-statistics .circle svg {
  color: black !important;
  opacity: 0.7;
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
}

.card-statistics h4 { font-weight: 600 !important; }

.card-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.card-breadcrumb .title { color: var(--text-color) !important; }

.card-breadcrumb .circle {
  border: 2px solid var(--blue-color) !important;
  color: var(--blue-color) !important;
  border-radius: var(--rounded-full);
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-breadcrumb.active .circle {
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
}

.card-breadcrumb.active .yes { display: none; }

.card-breadcrumb.check .user { display: none; }

.card-breadcrumb.check .yes { display: flex; }

.card-breadcrumb.check .yes {
  border-color: var(--green-color) !important;
  background-color: var(--soft-green-color) !important;
  color: var(--green-color) !important;
}

.card-breadcrumb .circle svg {
  min-width: 22px;
  max-width: 22px;
  min-height: 22px;
  max-height: 22px;
}

.card-breadcrumb.active .title { font-weight: 700 !important; } 

/* Carousel */

/* Theme */
[data-theme="light"] .light { display: none; }

[data-theme="light"] .dark { display: block; }

[data-theme="dark"] .light { display: block; }

[data-theme="dark"] .dark { display: none; }

/* Close button */

/* Collapse */

/* Dropdowns */

/* List group */

/* Modal */

/* Navbar */

/* Navs & tabs */

/* Offcanvas */
.offcanvas {
  background-color: var(--white-color) !important;
  color: var(--text-color) !important;
  max-width: 300px;
  width: 100%;
}

.offcanvas.aside .aside-link {
  border-inline: 3px solid transparent;
  font-size: var(--fs-h5) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
  color: var(--text-color) !important;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  height: 40px;
  transition: all 0.4s;
}

.offcanvas.aside .aside-link:hover { border-right: 3px solid var(--text-color); }

.offcanvas.aside .aside-link.active { border-right: 3px solid var(--text-color); }

/* Pagination */

/* Placeholders */

/* Popovers */

/* Progress */

/* Scrollspy */

/* Spinners */

/* Toasts */

/* Tooltips */
.tooltip { z-index: 120000; }

.tooltip-inner {
  font-size: var(--fs-small) !important;
  font-weight: var(--fw-regular) !important;
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  padding-inline: 5px !important;
}

/* Line Clamp */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.line-clamp.line-clamp-1  { -webkit-line-clamp: 1; }

.line-clamp.line-clamp-2  { -webkit-line-clamp: 2; }

.line-clamp.line-clamp-3  { -webkit-line-clamp: 3; }

.line-clamp.line-clamp-4  { -webkit-line-clamp: 4; }

.line-clamp.line-clamp-5  { -webkit-line-clamp: 5; }

.line-clamp.line-clamp-6  { -webkit-line-clamp: 6; }

.line-clamp.line-clamp-7  { -webkit-line-clamp: 7; }

.line-clamp.line-clamp-8  { -webkit-line-clamp: 8; }

.line-clamp.line-clamp-9  { -webkit-line-clamp: 9; }

.line-clamp.line-clamp-10 { -webkit-line-clamp: 10; }
