/* ------------------------------------------------------------ *\
 * LAYOUTS
\* ------------------------------------------------------------ */

/**
 * FORMS
 */

/* Form Box */

/* Label */

/* Input */

/* Input Group */

/* Range */

/* Textarea */

/* Select */

/* Checks & Radios */

/* Validation */

/**
 * COMPONENTS
 */

/* Logo */
.logo .img-logo {
  min-width: max-content;
  max-width: max-content;
  min-height: 45px;
  max-height: 45px;
}

/* Icon button */
.icon-btn {
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  --state-layer-bg: var(--text-color);
}

.icon-btn.large {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.icon-btn.large svg {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
}

/* Accordion */

/* Avatars */

/* Alerts */

/* Badge */

/* Breadcrumb */

/* Buttons */
.btn {
  
}

/* Button group */

/* Card */

/* Carousel */

/* Close button */

/* Collapse */

/* Dropdowns */

/* List group */

/* Modal */

/* Navbar */

/* Navs & tabs */

/* Offcanvas */

/* Pagination */

/* Placeholders */

/* Popovers */

/* Progress */

/* Scrollspy */

/* Spinners */

/* Toasts */

/* Tooltips */

/* Line Clamp */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.line-clamp.line-clamp-1  { -webkit-line-clamp: 1; }

.line-clamp.line-clamp-2  { -webkit-line-clamp: 2; }

.line-clamp.line-clamp-3  { -webkit-line-clamp: 3; }

.line-clamp.line-clamp-4  { -webkit-line-clamp: 4; }

.line-clamp.line-clamp-5  { -webkit-line-clamp: 5; }

.line-clamp.line-clamp-6  { -webkit-line-clamp: 6; }

.line-clamp.line-clamp-7  { -webkit-line-clamp: 7; }

.line-clamp.line-clamp-8  { -webkit-line-clamp: 8; }

.line-clamp.line-clamp-9  { -webkit-line-clamp: 9; }

.line-clamp.line-clamp-10 { -webkit-line-clamp: 10; }
